.login-action-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.page-title {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 4em;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.button-content {
  display: flex;
  gap: 1em;
  width: 15em;
}

.col {
  display: flex;
  align-items: center;
  height: 4em;
}

.code-icon-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
}
.code-icon-link {
  color: #1976d2;
}
